.Home {

    .Header {
        font-size: 0;
        background: pink;
        height: 0.44rem;
        padding: 0 0.15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #icon-person,
        #icon-book {
            fill:#65c541;
            margin-left: .15rem;
            height: 0.2rem;
            width: 0.2rem;
        }
    }

    .Banner {
        height: 2rem;
        background-color: aqua;
    }

    .Search {
        font-size: .16rem;
        height: .44rem;
        padding: 0 .15rem;
        padding-top: .12rem;
        background-color: green;
        display: flex;
        font-size: 13px;

        a {
            background-color: #f2f3f5;
            border-radius: .15rem;
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            color: #808080;

            #icon-find {
                fill: #808080;
                height: .14rem;
                width: .14rem;
            }

            span {
                margin-left: .05rem;
                line-height: .18rem;
            }

        }

    }

    .NavList {
        height: 1rem;
        padding: .15rem;
        display: flex;
        justify-content: space-between;
        font-size: .14rem;

        a {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .NavIcon {
                width: .46rem;
                height: .46rem;
                background: url(../img/sprite-87edc55a9f.png) no-repeat;
                background-size: 2.27rem 1.79rem;
            }

            &:nth-of-type(1) {
                i {
                    background-position: -0.54rem 0;
                }
            }

            &:nth-of-type(2) {
                i {
                    background-position: -1.04rem 0;
                }
            }

            &:nth-of-type(3) {
                i {
                    background-position: -1rem -0.97rem;
                }
            }

            &:nth-of-type(4) {
                i {
                    background-position: 0 -0.97rem;
                }
            }

            &:nth-of-type(5) {
                i {
                    background-position: -1.54rem 0;
                }
            }

            span {
                width: 100%;
                text-align: center;
            }

        }
    }
}