.ellipsisOneLine() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ellipsisMoreLine(@line) {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden; //溢出的隐藏
    text-overflow: ellipsis; //若不支持多行显示省略号 可在单行上显示
    display: -webkit-box; //把标签的显示类型改成弹性盒子
    -webkit-line-clamp: @line; //设置省略号显示在第几行
    -webkit-box-orient: vertical; //控制垂直方向上的行
}

.Home {

    .Header {
        font-size: 0;
        height: 0.44rem;
        padding: 0 0.15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .User {
            display: flex;
            align-items: center;

            #icon-person,
            #icon-book {
                fill: #65c541;
                margin-left: 0.15rem;
                height: 0.2rem;
                width: 0.2rem;
            }
        }
    }

    .Banner {
        padding: 0;
        font-size: 0;
        // height: 2rem;
        background-color: #fff;

        .swiper-example {
            img {
                width: 100%;
            }
        }
    }

    .Search {
        font-size: 0.16rem;
        height: 0.44rem;
        padding: 0 0.15rem;
        padding-top: 0.12rem;
        // background-color: green;
        display: flex;
        font-size: 13px;

        a {
            background-color: #f2f3f5;
            border-radius: 0.15rem;
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            color: #808080;

            #icon-find {
                fill: #808080;
                height: 0.14rem;
                width: 0.14rem;
            }

            span {
                margin-left: 0.05rem;
                line-height: 0.18rem;
            }

        }

    }

    .NavList {
        height: 1rem;
        padding: 0.15rem;
        display: flex;
        justify-content: space-between;
        font-size: 0.14rem;

        a {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .NavIcon {
                width: 0.46rem;
                height: 0.46rem;
                background: url(../img/sprite-87edc55a9f.png) no-repeat;
                background-size: 2.27rem 1.79rem;
            }

            &:nth-of-type(1) {
                i {
                    background-position: -0.54rem 0;
                }
            }

            &:nth-of-type(2) {
                i {
                    background-position: -1.04rem 0;
                }
            }

            &:nth-of-type(3) {
                i {
                    background-position: -1rem -0.97rem;
                }
            }

            &:nth-of-type(4) {
                i {
                    background-position: 0 -0.97rem;
                }
            }

            &:nth-of-type(5) {
                i {
                    background-position: -1.54rem 0;
                }
            }

            span {
                width: 100%;
                text-align: center;
            }

        }
    }

    .Ad {
        padding: 0;
        font-size: 0;
        margin: 0.12rem 0;

        a {
            img {
                height: 0.75rem;
                width: 100%;
            }
        }
    }

    >div {
        padding: 0 0.16rem 0.16rem;

        .Title {
            display: flex;
            align-items: center;
            font-size: 0;

            #icon-mhot {
                fill: #ff6177;
                height: 0.2rem;
                width: 0.2rem;
            }


            span {
                margin: 0 0.1rem;
                color: #1A1A1A;
                font-weight: 500;
                font-size: 0.16rem;
                line-height: 0.28rem;
            }
        }
    }

    .Hot {
        // padding: 0 0.16rem 0.16rem;

        .Content {
            margin: 0.1rem 0;

            li {
                margin: 0.15rem 0;

                a {
                    float: left;
                    height: 0.88rem;
                    width: 0.66rem;
                    margin-right: 0.08rem;
                    background-color: pink;

                    img {}
                }

                h3 {
                    font-size: 0.14rem;
                    font-weight: 700;
                    .ellipsisOneLine();
                }

                p {
                    .ellipsisMoreLine(2);
                    font-size: 0.12rem;
                    line-height: 0.19rem;
                    height: 0.39rem;
                    margin: 0.08rem 0 0.1rem;
                }

                .BookMate {
                    font-size: 0.12rem;
                }

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }

        }
    }

    .Free {
        // padding: 0 0.16rem 0.16rem;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                padding: 0.12rem 0.08rem 0.08rem;

                a {
                    // background-color: pink;

                    img {
                        display: block;
                        width: 0.66rem;
                        height: 0.88rem;
                    }
                }

                h4 {
                    width: 0.66rem;
                    font-size: 0.13rem;
                }

                p {
                    font-size: 0.12rem;
                    line-height: 0.19rem;
                    height: 0.39rem;
                }
            }
        }
    }
}