.nav1 {
  font-size: 0;
  padding: 10px;
}
.nav1 .title {
  font-size: 0.3rem;
}
.nav1 .list {
  padding: 10px;
  font-size: 16px;
}
.nav1 .list h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5b5f63;
}
.nav1 .list h2 a {
  font-size: 12px;
}
.nav1 .list ul {
  margin: 10px 0;
}
.nav1 .list ul li {
  color: #000;
  width: 90%;
  height: 80px;
  background-color: #1074e7;
  margin: 10px auto;
  border-radius: 5px;
}
