html{
  font-size: 32px;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  box-sizing: border-box;
}
a{
  font-size:inherit;
  font-weight: inherit;
  color: inherit;
}